<h1>Welcome, <%= @student.name %></h1>
<p>Your Achievements:</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Assignment</th>
      <th>Score</th>
    </tr>
  </thead>

  <tbody>
    <% @achievements.each do |achievement| %>
      <tr>
        <td><%= achievement.assignment.name %></td>
        <td><%= achievement.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
