<div id="assignment-entry"><%= render partial: 'edit_assignment' %></div>
<div>
  <%= link_to 'Show', @assignment %>
  <%= link_to 'Back', assignments_path %>
  <%= link_to 'Home', root_path %>
</div>
