<div class="background">
  <h1 class="center big fancy">Potato Wizards</h1>
  <p class="center medium fancy">It's pretty sweet</p>
  <div class="about">
    <p>
      Potato Wizards was founded in 2015 by stressed out rails students on the brink
      of collapse due to database confusion, delayed job chaos, facebook login frenzy,
      and most notably a monut/crispy creme logistics error. While the future was unclear
      these rails students proceeded to show true grit and found Potato Wizards, the multi
      hundred dollar company we know and love today. <br>
      Potato Wizards products have been received with overwhelmingly positive reception.
      We've been responsible for now industry standard applications such as "Number Guessing Game",
      "Weather Report", "Battleship: Go Buy The Damn Board Game Ours Dont Work!", and of course the mega hit,
      "Resturaunt Menu". <br>
      You now know where we came from and where we are now, but where are we going?
      Our guess? Mars, M,A,R,S, Mars. It's either that or we're due for like 3 weeks of
      no sleep and pure anxiety.
    </p>
  </div>
</div>

<div class="about">
  <p>

  </p>
</div>
