<div id="contact-container">


  <h1>Careers at Potato Wizard</h1>


  <section>
    <aside>Potato Peon</aside>
    <article>Potato Peon is the entry level position here at Potato Wizards.
             As a peon your respbosibilities will include:
      <ul class="a"><br>
        <li>Fetching complicated/overpriced coffee.</li>
        <li>Graveling to superiors on a daily basis.</li>
        <li> Sacrificing personal dignity for the good of the Company. </li>
      </ul>
    </article>
  </section><br>

  <section>
    <aside>Potato Lobbyist</aside>
    <article>Every stong company needs a stong presence on capital hill and Potato
      Wizards is no exception. Enter the exciting world of lobbying and make a
      difference that matters! Responsibilities include:<br>
      <ul class="a"><br>
        <li>Uncovering embrassing secrets of elected officials to use as polictical
        capital.</li>
        <li>Blindly shovel money towards special intrest groups aimed at furthering
        our goals of world domination</li>
        <li> Organize the yearly company picnic </li>
        <li> Employ a health comination of blackmail, bribery, and false promises
        to influence legislation. </li>
      </ul>
    </article>
  </section><br>

  <section>
    <aside>Spud Developer</aside>
    <article>As a spud developer you will work closely with a Potato Master to grow
      and develop your coding skills. Your will learn to incorporate our styleguide,
      workflow structure, and the "Potato" way. Resposibilities include:
      <ul class="a"><br>
        <li>Implementing TDD to create mediocre to passing quality code.</li>
        <li> Maintain current legacy code while also maintaining personal sanity.</li>
        <li> Sacrificing all semblance of sleep or personal time in order
        to produce mediocre to passing quality code. </li>
      </ul>
    </article>
  </section><br>


</div>
