
<div id="contact-container">
  <h1>Pages#contact</h1>
  <p>Find me in app/views/pages/contact.html.erb</p>
  <section>
    <aside></aside>
    <article>Neat is an open source semantic grid framework built on top of Sass and Bourbon…</article>
  </section>
</div>

<section>
  <aside>What is it about?</aside>
  <article>Neat is an open source semantic grid framework built on top of Sass and Bourbon…</article>
</section>
